/**************************
General
***************************/
  body, html {
    margin: 0;
    padding: 0;
    color: #000;
    background: #a7a09a;
    font-size: 100%;
  }

    body > #wrapper {
      min-height: 100%;
    }

      #wrapper {
        max-width: 100%;
        margin: 0;
      }

      /**************************
      Header
      ***************************/
    header {
      background-image: url("images/zim_all.jpg");
      background-repeat: no-repeat;
      display: inline-block;
      /*position: relative;*/
      background-size:cover;
      background-position: 75%;
      margin-left: 0;
      margin-top: 0;
      padding: 0 0 250px 0;
      width: 100%;
    }

      header h1 {
        margin: 0;
        color: white;
        font-size: 5em;
        font-weight: normal;
        line-height: 0.8em;
        text-align: center;
      }


      /**************************
      Navigation
      ***************************/
        nav {
          text-align: right;

        }
          nav ul {
            list-style: none;
            /*margin: 0 10px;*/
            padding: 0;
          }
            nav li {
              display: inline-block;
            }

              nav a {
                font-weight: 800;
                padding: 20px;
                text-decoration: none;
                color: white;
              }

                #logo {
                  text-align: left;
                  margin: 0;
                  padding: 20px
                }


  /**************************
  Content
  ***************************/

  h2 {
    font-size: 0.75em;
    margin: -5px 0 50px 0;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
  }

    #content {
      display: inline-block;
      width: 40%;
      height: 100%;
      color: white;
      word-wrap: break-word;
      padding: 10%;
      line-height: 25px;
    }

      .caption {
        font-size: 40px;
        margin-left: 20px;
        padding: 20px;
        border-left: 3px solid gray;
      }

/**************************
Sidebar
***************************/

  #sidebar {
    float: right;
    clear: right;
    width: 20%;
    height: auto;
    color: white;
    padding: 10%;
  }

    .images {
      display: inline-block;
      width: 20%;
      height: auto;

    }

    #sidebar_image {
      border-radius: 18px;
    }

    #profile {
      display: inline-block;
      text-align: center;
      list-style: none;
      text-decoration: none;
      margin: 0 10px;
      padding: 0 0 10% 0;
    }

      #profile img {
        border-radius: 100%;
        display: block;
        max-width: 75%;
        margin: 0 10px 10px 10px;
      }

        .social ul {
          text-decoration: none;
          list-style: none;
        }
          .social ul li {
            display: inline-block;
          }

          h3 {
            font-size: 30px;
          }

            p {
              padding: 15px;
            }


/**************************
Footer
***************************/

  footer {
    float: bottom;
    clear: both;
    background-color: green;
    position: relative;
    width: 100%;
    height: auto;
    font-size: 35px;
    text-align: center;
    padding-bottom: 10px;
  }

    footer h4 {
      font-size: 75px;
      text-align: center;
      color: white;
    }

      footer a {
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        list-style: none;
      }

      #logo {
        font-size: 40px;
        color: gray;
      }


          .nav > li {
            border-left: 3px solid white;
          }
            .nav > li > a {
              text-decoration: none;
              color: white;
              font-size: 20px;
              font-weight: bold;
            }


              .nav > li:first-of-type {
                border-left: none;
              }
    #container {
      display: inline-block;
      max-width: 100%;
      max-height: 100%;
      margin: 0;
      padding: 0;

    }
      .images {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0 0 25% 0;
        float: left;
        width: 25%;
        height: 0;
      }

        .images a {
          position: absolute;
          bottom: 10px;
          left: 15px;
          padding: 0;
          margin: 0;
        }
