<!doctype html>
<html>
  <head>
    <meta charset=”utf-8”>
    <title>Surf and Fun</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <main>
      <article id="wrapper">
        <header>
          <nav>
            <ul>
              <div id="logo" >
                <li>ZIM THE AWESOME</li>
              </div>
              <li><a href="http://placebacon.net/">About</a></li>
              <li><a href="http://placebacon.net/">Search</a></li>
            </ul>
          </nav>
           <div><h1>We Love Zim</h1></div>
        </header>
          <section id="content">
          <h2>Dedicated to World Domination</h2>

            <p> I'm a rogue demon hunter now. You are talking crazy-person talk. Put your words in word places please. The lambs have passed through the gate. It's a real burn, being right so often. Uh, thermal exhaust port's above the main port, numbnuts. </p>
            <p> We're outlaws with hearts of gold. The brain is kept in a fear-induced, adrenaline-fueled overdrive state, like a problem you can't solve. What, you think this isn't real just because of all the vampires, and demons, and ex-vengeance demons, and the sister that used to be a big ball of universe-destroying energy? Darn your sinister attraction! My Uncle Rory was the stodgiest taxidermist you've ever met by day. One of my personalities happens to be a multiple personality, but that doesn't make me a multiple personality. You can't spend the rest of your life waiting for Xander to wake up and smell the hottie. Easy as really difficult pie. Anyway, he seemed to be having a kind of man-reaction. </p>
              <div class="caption"> Doom Doom Doom...</div>
            <p> What gives you the right to suck face with your demon lover again? My entire existence was constructed by a sociopath in a sweater vest; what do you suggest I do? What do they need such good eyesight for anyway? Like, is the hippo going,'Hey, man, where are my pants? I have my hippo dignity!' And I understand with perfect clarity exactly what you are. Can't call to mom, can't say a word. You are talking crazy-person talk. Put your words in word places please. Who's calling me? Everybody I know lives here. Did the primary buffer panel just fall off my Gorram ship for no apparent reason? </p>
            <p> Did the primary buffer panel just fall off my Gorram ship for no apparent reason? I am never gonna see a merman, ever. I think calling him that is an insult to the psychotic lowlife community. If you say 'adorabubble,' I'm leaving. Say Skywalker, and I smack ya. Sarcastic? Unfeeling? British? I mean, don't get me wrong, I heart my porn, but this is cool! Wash, we've got some local color happening. </p>
        </section>
        <section id="sidebar">
          <div id="profile">
            <img src="images/me_2.jpeg" alt="My Photo" title="Dallie"/>
            <div id="name">DALLIE HILL</div>
              <div class= "social">
                <ul>
                  <li><a href="https://twitter.com/">Twitter</a></li>
                  <li><a href="https://www.facebook.com/">Facebook</a></li>
                  <li><a href="https://instagram.com/">Instagram</a></li>
                </ul>

              </div>
          </div>
            <img id="sidebar_image" src="images/gir_tacos.jpg" alt="Photo Gir Tacos" title="Gir"/>

            <h3>More Gir Goodness</h3>
              <p> Why can't you just masturbate like the rest of us? Time is what turns kittens into cats. Basically, this is what some of your more famous serial killers' brains look like. Just once I would like to run into a cult of bunny worshippers. You're the Slayer, and we're, like, the Slayerettes! My egg is Jewish. I figure, if I'm responsible for the end of the world, I get to name it. In their resting state, our actives are as innocent and vulnerable as children. So, she's added cussing and hurling about of things to her repertoire. </p>

        </section>
        <section id="characters">
          <h4>Friend of Foe?</h4>
            <ul>
              <% characters.each do |character| %>
                <li><%= character %></li>
              <% end %>
            </ul>
        </section>
        <footer>
          <div id="posts">
            <h4>Most Popular Posts</h4>
              <div id="container">
                <div id="zim" class="images">
                 <img src="images/zim.jpg" />
                  <a href="http://placebacon.net/">THE ALIEN NEXT DOOR</a>
                </div>
                <div id="world" class="images">
                 <img src="images/zim_world.jpg" />
                  <a href="http://placebacon.net/">WORLD DOMINATION</a></li>
                </div>
                <div id="robot" class="images">
                 <img src="images/blue_gir.jpg" />
                  <a href="http://placebacon.net/">ROBOTS ARE CUTE</a></li>
                </div>
                <div id="dog" class="images">
                  <img src="images/gir_multi.jpg" />
                  <a href="http://placebacon.net/">I SAW A SQUIRREL</a></li>
                </div>
              </div>
            </div>
          <nav>
            <ul class="nav">
              <div id="logo" >
                <li>The Iron Yard</li>
              </div>
              <li><a href="http://placebacon.net/">Zim</a></li>
              <li><a href="http://placebacon.net/">Gir</a></li>
              <li><a href="http://placebacon.net/">Dib</a></li>
              <li><a href="http://placebacon.net/">Gaz</a></li>
            </ul>
          </nav>
        </div>
      </footer>
      </article>
    </main>
  </body>
</html>
